<% if @books.blank? %>
  <p>There are no books in the library!</p>

<% else %>
  <h1>All Books</h1>
  <ul>
    <% @books.each { |book| %>
      <li><%=  link_to book.title, book_path(book)  %></li>
      <br/>
    <% } %>
  </ul>
<%end %>

<p><%= link_to "Add new Book", :action => :new %></p>


